@import '~theme/index';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    padding: 0;
    margin: 0;
    font-family: $font;
    color: $text;
    padding-top: 56px;
    @include sm {
        padding-top: 64px;
    }
}

.wrapper{
    padding: 16px;
    
    @include sm{
        padding: 24px;
    }
}